.heading {
  font-family: $body-font;
  font-size: 3.6rem;
  color: $color-dark-secondary;
  font-weight: 700;
  line-height: 3.6rem;

  @include responsive(tablet) {
    font-size: 4.5rem;
    line-height: 4.5rem;
  }

  @include responsive(desktop) {
    font-size: 6.4rem;
    line-height: 6.4rem;
  }
}

.subHeading {
  font-size: 2.8rem;
  font-family: $body-font;
  font-weight: 700;
  line-height: 4.5rem;
  letter-spacing: 0.03rem;
  color: $color-dark-secondary;
}

.sectionHeading {
  font-family: $display-font;
  font-weight: 500;
  font-size: 2.5rem;
  text-transform: uppercase;
  line-height: 4rem;
  letter-spacing: 0.03em;
  color: $color-dark-secondary;

  &--light {
    color: $color-light;
  }

  @include responsive(desktop) {
    font-size: 3.6rem;
    line-height: 5.4rem;
  }
}

.paragraph {
  font-family: $body-font;
  font-size: 1.6rem;
  color: $color-dark-primary;
  font-weight: 400;
  line-height: 2.2rem;

  @include responsive(desktop) {
    font-size: 1.8rem;
    line-height: 2.7rem;
  }

  &--semiBold {
    font-weight: 600;
  }
}
