.heading {
  font-family: $body-font;
  font-size: 3.6rem;
  color: $color-dark-secondary;
  font-weight: 700;
  line-height: 3.6rem;

  @include responsive(tablet) {
    font-size: 4.5rem;
    line-height: 4.5rem;
  }

  @include responsive(desktop) {
    font-size: 6.4rem;
    line-height: 6.4rem;
  }
}

.paragraph {
  font-family: $body-font;
  font-size: 1.6rem;
  color: $color-dark-primary;
  font-weight: 400;
  line-height: 2.2rem;

  @include responsive(desktop) {
    font-size: 1.8rem;
    line-height: 2.7rem;
  }

  &--semiBold {
    font-weight: 600;
  }
}
