.button {
  border: none;
  background-color: $color-red-primary;
  color: $color-light;
  padding: 1.5rem 12rem;
  width: 100%;
  max-width: 40rem;
  font-family: $display-font;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 2rem;
  border-radius: 0.5rem;

  &--outlineRed {
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: $color-red-primary;
    border: 3px solid $color-red-primary;
    max-width: none;
    padding: 1.5rem 5rem;
    width: auto;
    background-color: transparent;

    @include responsive(desktop) {
      font-size: 2.4rem;
      line-height: 3.2rem;
    }
  }

  @include responsive(desktop) {
    font-size: 1.8rem;
    line-height: 2.7rem;
  }
}
