.footer {
  padding: 2rem 1rem;
  width: 100%;

  @include responsive(desktop) {
    padding: 2rem 1rem;
    max-width: 144rem;
    margin: 0 auto;
  }

  &__container {
    border: 3px solid $color-red-primary;
    width: 100%;
    border-radius: 2rem;
    padding: 1rem;
    color: $color-dark-secondary;
    display: grid;
    grid-template-columns: 100%;

    @include responsive(desktop) {
      grid-template-columns: 50% 25% 25%;
      padding: 2rem;
    }
  }

  &__copyright {
    margin-bottom: 2rem;
    border-bottom: 3px solid $color-red-primary;
    padding-bottom: 2rem;

    @include responsive(desktop) {
      margin-bottom: 0;
      border-bottom: none;
      padding-bottom: 0;

      margin-right: 3rem;
      border-right: 3px solid $color-red-primary;
      padding-right: 3rem;
    }
  }

  &__title {
    font-family: $display-font;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.9rem;
    letter-spacing: 0.03em;
    margin-bottom: 1rem;
  }

  &__paragraph {
    font-family: $body-font;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.8rem;
    letter-spacing: 0.03em;
  }

  &__nav {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 3px solid $color-red-primary;

    @include responsive(desktop) {
      margin-bottom: 0;
      border-bottom: none;
      padding-bottom: 0;

      margin-right: 3rem;
      border-right: 3px solid $color-red-primary;
      padding-right: 3rem;
    }
  }

  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: minmax(50%, min-content) minmax(50%, min-content);
    row-gap: 0.7rem;
  }

  &__link {
    text-decoration: none;
  }

  &__item {
    font-family: $body-font;
    color: $color-dark-secondary;
    font-size: 1.4rem;
    line-height: 1.9rem;
    letter-spacing: 0.03em;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      transform: translateY(-5px);
      color: $color-red-primary;
      font-weight: 700;
    }
  }

  &__social {
  }

  &__socialText {
    font-family: $body-font;
    font-size: 1.4rem;
    line-height: 1.9rem;
    letter-spacing: 0.03em;
    font-weight: 600;
  }

  &__socialMedia {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, 3.2rem));
    column-gap: 2rem;
  }

  &__icon {
    cursor: pointer;
  }
}
