.hero {
  width: 100%;

  padding: 2rem 1rem;

  &__container {
    border: 2px solid #fa4454;
    border-radius: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    max-width: 144rem;

    @include responsive(tablet) {
      flex-direction: row;
      padding: 4rem;
      align-items: center;
    }

    @include responsive(desktop) {
      padding: 5rem 10rem;
      margin: 0 auto;
    }
  }

  &__image {
    order: 1;
  }

  &__info {
    order: 2;
    margin-top: 1rem;

    @include responsive(tablet) {
      order: 0;
      margin-right: 2rem;
    }

    @include responsive(desktop) {
      width: 50%;
    }
  }

  &__title {
    margin-bottom: 2rem;

    @include responsive(desktop) {
      margin-bottom: 3rem;
    }
  }

  &__text {
    margin-bottom: 3rem;

    @include responsive(desktop) {
      margin-bottom: 5rem;
    }
  }
}
