.ranks {
  background-color: $color-red-primary;
  padding: 2rem 1rem;
  margin-bottom: 3rem;

  &--light {
    background-color: #fff;
    max-width: 152rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  @include responsive(desktop) {
    padding: 4rem 5rem;
    margin-bottom: 5rem;
  }

  &__content {
    display: flex;
    width: 100%;
  }

  &__container {
    max-width: 144rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    &--small {
      width: 30%;
    }

    &--medium {
    }
  }

  &__title {
    margin-bottom: 3rem;
    align-self: flex-start;

    @include responsive(desktop) {
      margin-bottom: 6rem;
    }
  }

  &__tiers {
    width: 100%;
    border: 3px solid $color-red-secondary;
    list-style: none;
    padding: 5rem;
    padding-right: 10rem;
    border-radius: 2rem;
    position: sticky;
    top: 0;
  }

  &__tierItem {
    font-family: $display-font;
    font-size: 2.4rem;
    line-height: 3.6rem;
    font-weight: 500;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__button {
  }

  &__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 25rem));
    justify-content: center;
    row-gap: 4rem;
    column-gap: 4rem;
    margin-bottom: 3rem;

    @include responsive(desktop) {
      margin-bottom: 5rem;
      column-gap: 11.3rem;
    }
  }

  &__grid {
    width: 100%;
    justify-content: center;
    gap: 3rem;
    display: grid;
    grid-template-columns: repeat(1, minmax(20rem, 25rem));

    @include responsive(desktop) {
      grid-template-columns: repeat(3, minmax(20rem, 25rem));
      gap: 5rem;
    }
  }

  &__item {
    border: 5px solid $color-light;
    border-radius: 1rem;
    padding: 2.5rem;
    max-height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;

    &--red {
      border-color: $color-red-primary;
    }

    &--first {
      @include responsive(desktop) {
        grid-column: 1/ -1;
        max-width: 25rem;
      }
    }

    &:hover {
      background-color: $color-light;
    }
  }

  &__item:hover &__name {
    color: $color-red-primary;
  }

  &__image {
  }

  &__name {
    margin-top: 1rem;
    font-family: $body-font;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 4rem;
    color: $color-light;
    text-transform: uppercase;

    &--dark {
      color: $color-dark-secondary;
    }
  }
}
