.singleAgent {
  width: 100%;
  max-width: 144rem;
  padding: 2rem 1rem;
  margin: 0 auto;

  &__information {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;

    @include responsive(desktop) {
      flex-direction: row;
      margin-bottom: 4rem;
    }
  }

  &__image {
    width: 100%;

    @include responsive(desktop) {
      width: 50%;
    }
  }

  &__text {
    margin-top: 3rem;
    text-align: center;
    @include responsive(desktop) {
      width: 50%;
      text-align: left;
      margin-top: 10rem;
    }
  }

  &__description {
    &:not(:first-child) {
      margin-top: 2rem;
    }
  }

  &__name {
    margin-bottom: 1rem;
  }

  &__function {
  }

  &__desc {
  }

  &__skills {
  }

  &__subTitle {
    margin-bottom: 3rem;

    @include responsive(desktop) {
      margin-bottom: 5rem;
    }
  }

  &__skill {
    border: 3px solid $color-red-secondary;
    display: flex;
    flex-direction: column;

    @include responsive(desktop) {
      flex-direction: row;
    }

    &:not(:last-child) {
      margin-bottom: 2rem;

      @include responsive(desktop) {
        margin-bottom: 5rem;
      }
    }
  }

  &__skillIcon {
    background-color: $color-red-primary;
    display: flex;
    justify-content: center;
    padding: 1.5rem;

    @include responsive(desktop) {
      width: 30%;
      max-width: 20rem;
    }
  }

  &__icon {
  }

  &__skillDesc {
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include responsive(desktop) {
      align-items: flex-start;
    }
  }

  &__type {
    font-size: 1.8rem;
    line-height: 2.5rem;
    font-weight: 600;
    font-family: $body-font;
    color: $color-dark-primary;
    margin-bottom: 0.3rem;
  }

  &__ability {
    font-size: 2.4rem;
    line-height: 3.3rem;
    letter-spacing: 0.03;
    font-weight: 700;
    color: $color-dark-secondary;
    margin-bottom: 1rem;
  }

  &__instruction {
    text-align: center;

    @include responsive(desktop) {
      text-align: left;
    }
  }
}
